# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers/

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend (Flutter)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
frontend/flutter_app/.pub/
frontend/flutter_app/build/
